<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.smartcity.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.briup.smartcity.bean.Article">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_content" jdbcType="VARCHAR" property="articleContent" />
    <result column="article_publish_time" jdbcType="TIMESTAMP" property="articlePublishTime" />
    <result column="article_read_times" jdbcType="INTEGER" property="articleReadTimes" />
    <result column="article_status" jdbcType="INTEGER" property="articleStatus" />
    <result column="article_thump_up" jdbcType="INTEGER" property="articleThumpUp" />
    <result column="article_cover" jdbcType="VARCHAR" property="articleCover" />
    <result column="article_user_id" jdbcType="INTEGER" property="articleUserId" />
    <result column="article_category_id" jdbcType="INTEGER" property="articleCategoryId" />
  </resultMap>
  <sql id="Base_Column_List">
    article_id, article_title, article_content, article_publish_time, article_read_times, 
    article_status, article_thump_up, article_cover, article_user_id, article_category_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <select id="selectByTitle" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sc_article
    where article_title =  #{articleTitle,jdbcType=VARCHAR}


  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sc_article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.briup.smartcity.bean.Article">
    insert into sc_article (article_id, article_title, article_content, 
      article_publish_time, article_read_times, 
      article_status, article_thump_up, article_cover, 
      article_user_id, article_category_id)
    values (#{articleId,jdbcType=INTEGER}, #{articleTitle,jdbcType=VARCHAR}, #{articleContent,jdbcType=VARCHAR}, 
      #{articlePublishTime,jdbcType=TIMESTAMP}, #{articleReadTimes,jdbcType=INTEGER}, 
      #{articleStatus,jdbcType=INTEGER}, #{articleThumpUp,jdbcType=INTEGER}, #{articleCover,jdbcType=VARCHAR}, 
      #{articleUserId,jdbcType=INTEGER}, #{articleCategoryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.briup.smartcity.bean.Article">
    insert into sc_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
      <if test="articlePublishTime != null">
        article_publish_time,
      </if>
      <if test="articleReadTimes != null">
        article_read_times,
      </if>
      <if test="articleStatus != null">
        article_status,
      </if>
      <if test="articleThumpUp != null">
        article_thump_up,
      </if>
      <if test="articleCover != null">
        article_cover,
      </if>
      <if test="articleUserId != null">
        article_user_id,
      </if>
      <if test="articleCategoryId != null">
        article_category_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articlePublishTime != null">
        #{articlePublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleReadTimes != null">
        #{articleReadTimes,jdbcType=INTEGER},
      </if>
      <if test="articleStatus != null">
        #{articleStatus,jdbcType=INTEGER},
      </if>
      <if test="articleThumpUp != null">
        #{articleThumpUp,jdbcType=INTEGER},
      </if>
      <if test="articleCover != null">
        #{articleCover,jdbcType=VARCHAR},
      </if>
      <if test="articleUserId != null">
        #{articleUserId,jdbcType=INTEGER},
      </if>
      <if test="articleCategoryId != null">
        #{articleCategoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.briup.smartcity.bean.Article">
    update sc_article
    <set>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articlePublishTime != null">
        article_publish_time = #{articlePublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleReadTimes != null">
        article_read_times = #{articleReadTimes,jdbcType=INTEGER},
      </if>
      <if test="articleStatus != null">
        article_status = #{articleStatus,jdbcType=INTEGER},
      </if>
      <if test="articleThumpUp != null">
        article_thump_up = #{articleThumpUp,jdbcType=INTEGER},
      </if>
      <if test="articleCover != null">
        article_cover = #{articleCover,jdbcType=VARCHAR},
      </if>
      <if test="articleUserId != null">
        article_user_id = #{articleUserId,jdbcType=INTEGER},
      </if>
      <if test="articleCategoryId != null">
        article_category_id = #{articleCategoryId,jdbcType=INTEGER},
      </if>
    </set>
        <where>
          <if test="articleTitle !=null ">
            article_title = #{articleTitle,jdbcType=VARCHAR}
          </if>
          <if test="articleId !=null ">
            and article_id = #{articleId,jdbcType=INTEGER}
          </if>
        </where>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.briup.smartcity.bean.Article">
    update sc_article
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR},
      article_publish_time = #{articlePublishTime,jdbcType=TIMESTAMP},
      article_read_times = #{articleReadTimes,jdbcType=INTEGER},
      article_status = #{articleStatus,jdbcType=INTEGER},
      article_thump_up = #{articleThumpUp,jdbcType=INTEGER},
      article_cover = #{articleCover,jdbcType=VARCHAR},
      article_user_id = #{articleUserId,jdbcType=INTEGER},
      article_category_id = #{articleCategoryId,jdbcType=INTEGER}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
</mapper>